$timing: 0.3s;
$width-of-input: 200px;
$height-of-input: 40px;
$border-height: 2px;
$input-bg: #fff;
$border-color: #2f2ee9;
$border-radius: 30px;
$after-border-radius: 1px;
$input-font-color: #8b8ba7;
$borderColor: #999999;